@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
}

.error-alert {
    background-color: rgb(210 14 14 / 50%);
    color: #fff;
    border: 1px solid #d20e0e;
}

.minHeight-100 {
    min-height: 100vh;
}

.preloader__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.modal__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 40%);
    margin: 0;
    height: 100%;
}

.modal__content {
    min-height: 220px;
    display: flex;
    justify-content: center;
}